[submodule "themes/hugo-strata-theme"]
	path = themes/hugo-strata-theme
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
